@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neuton');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

/* Variables */

$color-light: #e8e7e3;
$color-dark: #322a21;

$font-logo: 'Noto Serif Display', cursive;
$font-header: 'Neuton', serif;
$font-text: 'Glacial Indifference', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container::before{
  position: absolute;
  content: '';
  background: $color-dark;
  width: 1140px;
  height: 3px;
  margin-top: 100px;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bold;
    color: #625548;
  }

  a {
    color: #89867f;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Tags */

.list.tags li {
  display: inline-block;
  margin-right: 5px;
}

.tag-size-5 {
  font-size: xx-large;
}
.tag-size-3 {
  font-size: x-large;
}
.tag-size-2 {
  font-size: larger;
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;

  &.active {
    display: block;
  }
}

.post-title {
  font-family: $font-header;
  font-size: 22px;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  align-items: center;

  p {
    margin: 0 10px 2px 0;
    font-family: $font-header;
    font-size: 18px;
  }
}

/* Media */

@media (max-width: 767px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sidebar,
  .posts {
    flex: 1;
    margin: 0;
  }

  .sidebar {
    order: -1;
    margin-bottom: 10px;
    width: 50%;
    margin-right: 10px;
  }

  .posts {
    order: 0;
    width: 100%;
  }
}

